<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>Leaves - HRMS admin template</title>
		
		<!-- Favicon -->
        <!-- <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png"> -->
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
		
		<!-- Lineawesome CSS -->
        <link rel="stylesheet" href="../assets/css/line-awesome.min.css">
		
		<!-- Datatable CSS -->
		<link rel="stylesheet" href="../assets/css/dataTables.bootstrap4.min.css">
		
		<!-- Select2 CSS -->
		<link rel="stylesheet" href="../assets/css/select2.min.css">
		
		<!-- Datetimepicker CSS -->
		<link rel="stylesheet" href="../assets/css/bootstrap-datetimepicker.min.css">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="../assets/css/style.css">
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
    </head>
    <body>
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			<!-- Header -->
            <div class="header" id="header-container">
				
			</div>
			<!-- /Header -->
			
			<!-- Sidebar -->
            <div class="sidebar">
                <!-- Ini akan menjadi sidebar -->
                <div class="sidebar-inner slimscroll">
                    <div id="sidebar-menu" class="sidebar-menu" id="">
                        <ul>
                            <li class="menu-title"> 
                                <span>Main</span>
                            </li>
                            <li> 
                                <a href="dashboard.html"><i class="la la-dashboard"></i><span>Dashboard</span></a>
                            </li>
                            <li class="submenu">
                                <a class="noti-dot"><i class="la la-user"></i> <span>Employees</span> <span class="menu-arrow"></span></a>
                                <ul style="display: none;">
                                    <li><a href="attendance.html">Attendance</a></li>
                                    <li><a class="active" href="timeoff.html">Timeoff</a></li>
                                    <li><a href="overtime.html">Overtime</a></li>
                                    <li><a href="Reimbursement.html">Reimbursement</a></li>
                                </ul>
                            </li>
                            <li> 
                                <a href="payslip.html"><i class="la la-money"></i><span>View Slip</span></a>
                            </li>
                            <li class="menu-title"> 
                                <span>HR</span>
                            </li>
                            <!-- <li class="submenu">
                                <a href="#"><i class="la la-files-o"></i> <span> Sales </span> <span class="menu-arrow"></span></a>
                                <ul style="display: none;">
                                    <li><a href="estimates.html">Estimates</a></li>
                                    <li><a href="invoices.html">Invoices</a></li>
                                    <li><a href="payments.html">Payments</a></li>
                                    <li><a href="expenses.html">Expenses</a></li>
                                    <li><a href="provident-fund.html">Provident Fund</a></li>
                                    <li><a href="taxes.html">Taxes</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="#"><i class="la la-files-o"></i> <span> Accounting </span> <span class="menu-arrow"></span></a>
                                <ul style="display: none;">
                                    <li><a href="categories.html">Categories</a></li>
                                    <li><a href="budgets.html">Budgets</a></li>
                                    <li><a href="budget-expenses.html">Budget Expenses</a></li>
                                    <li><a href="budget-revenues.html">Budget Revenues</a></li>
                                </ul>
                            </li> -->
                            <!-- <li class="submenu">
                                <a href="#"><i class="la la-money"></i> <span> Payroll </span> <span class="menu-arrow"></span></a>
                                <ul style="display: none;">
                                    <li><a href="salary.html"> Employee Salary </a></li>
                                    <li><a href="salary-view.html"> Payslip </a></li>
                                    <li><a href="payroll-items.html"> Payroll Items </a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="#"><i class="la la-pie-chart"></i> <span> Reports </span> <span class="menu-arrow"></span></a>
                                <ul style="display: none;">
                                    <li><a href="expense-reports.html"> Expense Report </a></li>
                                    <li><a href="invoice-reports.html"> Invoice Report </a></li>
                                    <li><a href="payments-reports.html"> Payments Report </a></li>
                                    <li><a href="project-reports.html"> Project Report </a></li>
                                    <li><a href="task-reports.html"> Task Report </a></li>
                                    <li><a href="user-reports.html"> User Report </a></li>
                                    <li><a href="employee-reports.html"> Employee Report </a></li>
                                    <li><a href="payslip-reports.html"> Payslip Report </a></li>
                                    <li><a href="attendance-reports.html"> Attendance Report </a></li>
                                    <li><a href="leave-reports.html"> Timeoff  Report </a></li>
                                    <li><a href="daily-reports.html"> Daily Report </a></li>
                                </ul>
                            </li> -->
                            <li> 
                                <a href="#"><i class="la la-file-pdf-o"></i> <span>Policies</span></a>
                            </li>
                            <!-- <li><a href="resignation.html"><i class="la la-external-link-square"></i> <span>Resignation</span></a></li>
                            <li><a href="termination.html"><i class="la la-times-circle"></i> <span>Termination</span></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
			<!-- /Sidebar -->
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
			
				<!-- Page Content -->
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row align-items-center">
							<div class="col">
								<h3 class="page-title">Time Off</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="dashboard.html">Dashboard</a></li>
									<li class="breadcrumb-item active">Time Off</li>
								</ul>
							</div>
							<div class="col-auto float-right ml-auto">
								<a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_leave"><i class="fa fa-plus"></i>Request Time Off</a>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
								<table class="table table-striped custom-table mb-0" id="timeoff-table">
									<thead>
										<tr>
											<th>Time Off Type</th>
											<th>From</th>
											<th>To</th>
											<th>Reason</th>
											<th class="text-center">Status</th>
											<th>Approved by</th>
											<th class="text-right">Actions</th>
										</tr>
									</thead>
									<tbody id="timeoff-table-body">
										<!-- Data timeoff akan ditampilkan di sini -->
									</tbody>
								</table>
							</div>
						</div>
					</div>
                </div>
				<!-- /Page Content -->
				
				<!-- Add Leave Modal -->
				 <!-- Gunakan Modal di bawah untuk add time off ke database -->
				 <div id="add_leave" class="modal custom-modal fade" role="dialog">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Request Time Off</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form id="timeoff-form">
									<div class="form-group">
										<label>Time Off Type <span class="text-danger">*</span></label>
										<select class="select form-control" class="select" id="leave-type">
											<option value="">Select Time Off Type</option>
											<option value="Casual">Casual Leave</option>
											<option value="Medical">Medical Leave</option>
											<option value="Loss of Pay">Loss of Pay</option>
											<option value="Other">Other</option>
										</select>
									</div>
									<div class="form-group">
										<label>From <span class="text-danger">*</span></label>
										<div class="cal-icon">
											<input class="form-control datetimepicker" type="text" id="timeoff-start">
										</div>
									</div>
									<div class="form-group">
										<label>To <span class="text-danger">*</span></label>
										<div class="cal-icon">
											<input class="form-control datetimepicker" type="text" id="timeoff-end">
										</div>
									</div>
									<div class="form-group">
										<label>Remaining TimeOff <span class="text-danger">*</span></label>
										<input class="form-control" readonly value="12" type="text">
									</div>
									<div class="form-group">
										<label>Time Off Reason <span class="text-danger">*</span></label>
										<textarea rows="4" class="form-control" id="leave-reason"></textarea>
									</div>
									<div class="submit-section">
										<button type="button" class="btn btn-primary submit-btn" id="submit-timeoff">Submit</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- /Add Leave Modal -->
				
				<!-- Edit Leave Modal -->
				 <!-- Gunakan moda di bawah untuk edit time off -->
				<div id="edit_leave" class="modal custom-modal fade" role="dialog">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Edit Time off</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form id="edit-timeoff-form">
									<input type="hidden" id="edit-timeoff-id" value="">
									<div class="form-group">
										<label>Time Off Type <span class="text-danger">*</span></label>
										<select id="edit-leave-type" class="select">
											<option value="">Select Time Off Type</option>
											<option value="Casual">Casual Leave</option>
											<option value="Medical">Medical Leave</option>
											<option value="Loss of Pay">Loss of Pay</option>
											<option value="Other">Other</option>
										</select>
									</div>
									<div class="form-group">
										<label>From <span class="text-danger">*</span></label>
										<div class="cal-icon">
											<input id="edit-timeoff-start" class="form-control datetimepicker" type="text">
										</div>
									</div>
									<div class="form-group">
										<label>To <span class="text-danger">*</span></label>
										<div class="cal-icon">
											<input id="edit-timeoff-end" class="form-control datetimepicker" type="text">
										</div>
									</div>
									<div class="form-group">
										<label>Remaining Leaves <span class="text-danger">*</span></label>
										<input id="edit-remaining-leaves" class="form-control" readonly value="12" type="text">
									</div>
									<div class="form-group">
										<label>Time Off Reason <span class="text-danger">*</span></label>
										<textarea id="edit-leave-reason" rows="4" class="form-control">Going to hospital</textarea>
									</div>
									<div class="submit-section">
										<button id="update-timeoff" class="btn btn-primary submit-btn">Save</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- /Edit Leave Modal -->
				
				<!-- Delete Leave Modal -->
				 <!-- Ini akan jadi alert untuk delete -->
				<div class="modal custom-modal fade" id="delete_approve" role="dialog">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-header">
									<h3>Delete Leave</h3>
									<p>Are you sure want to Cancel this leave?</p>
								</div>
								<div class="modal-btn delete-action">
									<div class="row">
										<div class="col-6">
											<a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
										</div>
										<div class="col-6">
											<a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Delete Leave Modal -->
				
            </div>
			<!-- /Page Wrapper -->

        </div>
		<!-- /Main Wrapper -->

        <!-- Header -->
        <script>
			document.addEventListener("DOMContentLoaded", function() {
				fetch('../layouts/header.html')
					.then(response => response.text())
					.then(data => {
						document.getElementById('header-container').innerHTML = data;
					})
					.catch(error => console.error('Error loading Header:', error));
			});
			
        </script>

		<!-- jQuery -->
        <script src="../assets/js/jquery-3.5.1.min.js"></script>

		<!-- Bootstrap Core JS -->
        <script src="../assets/js/popper.min.js"></script>
        <script src="../assets/js/bootstrap.min.js"></script>

		<!-- Slimscroll JS -->
		<script src="../assets/js/jquery.slimscroll.min.js"></script>
		
		<!-- Select2 JS -->
		<script src="../assets/js/select2.min.js"></script>
		
		<!-- Datatable JS -->
		<script src="../assets/js/jquery.dataTables.min.js"></script>
		<script src="../assets/js/dataTables.bootstrap4.min.js"></script>
		
		<!-- Datetimepicker JS -->
		<script src="../assets/js/moment.min.js"></script>
		<script src="../assets/js/bootstrap-datetimepicker.min.js"></script>

		<!-- Custom JS -->
		<script src="../assets/js/app.js"></script>

        <!-- Backend -->
		<script type="module" src="../../config/supabaseClient.js"></script>
		<script type="module" src="../../controller/userInf.js"></script>
		<script type="module" src="../../controller/timeoff.js"></script>
		
    </body>
</html>